<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--<upperBody>-->
    <!--<add key = "chest" value = "chest press;pectoral"/>
  </upperBody>-->
  <appSettings>
    <add key = "UPPER_BODY" value = "chest;back;biceps;triceps;abs;dorsals"/>
    <add key = "LEGS" value = "legs;shoulders;biceps;triceps;abs;dorsals"/>
    <add key = "chest" value = "chest press;lat pull down; pectoral"/>
  </appSettings>
</configuration>