<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--<upperBody>-->
    <!--<add key = "chest" value = "chest press;pectoral"/>
  </upperBody>-->
  <appSettings>
    <!--muscle groups-->
    <add key = "UPPER_BODY" value = "ΣΤΗΘΟΣ;ΠΛΑΤΗ;ΩΜΟΙ;ΔΙΚΕΦΑΛΟΙ;ΤΡΙΚΕΦΑΛΟΙ;ΚΟΙΛΙΑΚΟΙ;ΡΑΧΙΑΙΟΙ"/>
    <add key = "LEGS" value = "ΠΟΔΙΑ;ΩΜΟΙ;ΔΙΚΕΦΑΛΟΙ;ΤΡΙΚΕΦΑΛΟΙ;ΚΟΙΛΙΑΚΟΙ;ΡΑΧΙΑΙΟΙ"/>
    
    <!--description for upper body-->
    <add key = "CHEST" value = "CHEST PRESS;PEC FLY;PECTORAL;ΠΙΕΣΕΙΣ ΣΕ ΕΠΙΚΛΙΝΗ ΠΑΓΚΟ;ΕΚΤΑΣΕΙΣ ΣΕ ΟΡΙΖΟΝΤΙΟ ΠΑΓΚΟ"/>
    <add key = "BACK" value = "LAT PULL DOWN;LOW ROW;HIGH ROW;REAR DELT;ΜΟΝΟΖΥΓΟ ΜΕ ΥΠΟΒΟΗΘΗΣΗ;ΚΩΠΗΛΑΤΙΚΗ"/>
    <add key = "BICEPS" value = "ΚΑΜΨΕΙΣ ΔΙΚΕΦΑΛΩΝ;ΚΑΜΨΕΙΣ ΔΙΚΕΦΑΛΩΝ ΣΦΥΡΙΑ;ARM CURL"/>
    <add key = "TRICEPS" value = "ΠΙΕΣΕΙΣ ΤΡΙΚΕΦΑΛΩΝ;SEATED DIP"/>
    <add key = "ABS" value = "ΡΟΚΑΝΙΣΜΑΤΑ;ΧΑΜΗΛΗ ΣΑΝΙΔΑ;ΨΗΛΗ ΣΑΝΙΔΑ;ΤΡΑΠΕΖΑΚΙ ΤΑ ΠΟΔΙΑ (ΜΕ ΔΙΣΚΟ);ΑΡΣΕΙΣ ΠΟΔΙΩΝ"/>
    <add key = "DORSALS" value = "-"/>

    <!--description for legs-->
    <add key = "LEGS_E" value = "LEG PRESS;DECLINE LEG PRESS;LEG EXTENSION;LEG CURL;ABDUCTORS;ADDUCTORS;ABDUCTORS (TOTAL HIP);ADDUCTORS (TOTAL HIP);ΕΛΕΥΘΕΡΑ ΚΑΘΙΣΜΑΤΑ;ΜΠΡΟΣΤΙΝΕΣ ΙΣΟΜΕΤΡΙΚΕΣ ΠΡΟΒΟΛΕΣ;ΑΡΣΕΙΣ ΓΑΣΤΡΟΚΝΗΜΙΩΝ;HIP THRUST;ΠΙΣΩ ΠΡΟΒΟΛΕΣ;ΟΠΙΣΘΙΟΙ ΜΗΡΙΑΙΟΙ"/>
    <add key = "SHOULDERS" value = "SHOULDER PRESS;ΕΚΤΑΣΕΙΣ ΩΜΩΝ;ΠΡΟΤΑΣΕΙΣ ΟΡΘΙΑ"/>

    <!--<add key = "CHEST PRESS" value = "MACHINE"/>-->
    
    <!--just equipment-->
    <add key = "EQUIPEMENT" value = "MACHINE;ΤΡΟΧΑΛΙΑ;ΠΑΓΚΟΣ;ΣΤΡΩΜΑ;ΑΛΤΗΡΕΣ;ΡΩΜΑΪΚΗ ΚΑΡΕΚΛΑ;STEP;SMITH;T-BAR;ΜΕ ΔΙΣΚΟ;ΣΕ BOSU;ΜΠΑΡΑ"/>
  </appSettings>
</configuration>