<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--<upperBody>-->
    <!--<add key = "chest" value = "chest press;pectoral"/>
  </upperBody>-->
  <appSettings>
    <add key = "UPPER_BODY" value = "ΣΤΗΘΟΣ;ΠΛΑΤΗ;ΔΙΚΕΦΑΛΟΙ;ΤΡΙΚΕΦΑΛΟΙ;ΚΟΙΛΙΑΚΟΙ;ΡΑΧΙΑΙΟΙ"/>
    <add key = "LEGS" value = "ΠΟΔΙΑ;ΩΜΟΙ;ΔΙΚΕΦΑΛΟΙ;ΤΡΙΚΕΦΑΛΟΙ;ΚΟΙΛΙΑΚΟΙ;ΡΑΧΙΑΙΟΙ"/>
    <add key = "CHEST" value = "CHEST PRESS;PEC FLY;PECTORAL"/>
    <add key = "BACK" value = "LAT PULL DOWN;LOW ROW;HIGH ROW;REAR DELT;ΜΟΝΟΖΥΓΟ ΜΕ ΥΠΟΒΟΗΘΗΣΗ"/>
    <add key = "BICEPS" value = "κάμψεις δικεφάλων"/>
    <add key = "EQUIPMENT" value = "machine;τροχαλία;πάγκος;στρώμα;αλτήρες;ρωμαϊκή καρέκλα;step"/>
  </appSettings>
</configuration>